/* @import '~antd/dist/antd.css'; */

.body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: hidden;
}

.selector {
  min-height: 90px;
  overflow: hidden;
  background: #fff;
}

.form {
  width: 100%;
  padding: 1em;
}

.form .ant-form-item {
  margin-bottom: 0;
}

.protocolSelector {
  min-width: 200px;
}

.player {
  flex: 1;
  position: relative;
  width: 100%;
}

.x5videofullscreen .selector {
  position: relative;
  z-index: 1;
}

.x5videofullscreen .form {
  position: absolute;
}

.fullscreen .selector {
  display: none;
}

/* TODO: 同层播放时 player position 设置为 relative form 不会显示  */
.x5videofullscreen .player {
  position: static;
  /* z-index: -1; */
}

.src {
  white-space: nowrap;
}
