/* @import '~antd/dist/antd.css'; */

/* .selector {
  overflow: hidden;
  background: #fff;
} */

@import '~antd/dist/antd.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #f0f2f5;
}

.header {
  height: 50px;
  margin-bottom: 12px;
  background: #fff;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0 12px 12px 12px;
}

.player {
  flex: 1;
  position: relative;
}

.aside {
  width: 350px;
  margin-left: 12px;
  background: #fff;
}

.blankImg {
  display: none;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  height: 0;
}

@media screen and (orientation: portrait) and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .header {
    margin-bottom: 0;
  }

  .main {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    box-shadow: none;
  }
  .blankImg {
    display: block;
  }

  .aside {
    flex: 1;
    order: 1;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .footer {
    margin: 0;
    background: #333;
    color: #fff;
    height: 40px;
    line-height: 40px;
  }
}

.form {
  width: 100%;
  padding: 5px 1em;
}

.form .ant-form-item {
  margin-bottom: 0;
}

.type {
  width: 25%;
}

.type .ant-col {
  width: 100%;
}

.src {
  width: 40%;
}

.src .ant-col {
  width: 100%;
}

.src {
  white-space: nowrap;
}

.asideContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.asideTabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.asideTabs .ant-tabs-content {
  height: 100%;
}

.asideTabs .ant-tabs-tabpane {
  height: 100%;
  overflow-y: auto;
}

.infoTabPane {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 50px;
}

.asideFooter {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.srcValue {
  word-break: break-all;
}
