.preventedTip {
  position: absolute;
  top: 1em;
  left: 50%;

  width: auto;
  padding: 0.5em 1em;

  transform: translateX(-50%);

  color: #fff;
  border-radius: 4px;
  background: rgba(127, 127, 127, 0.3);

  font-size: 1.2em;
}
